header {
    display: flex;
    width: 100%;
    background-color: #050505;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 99;
}

header a {
    display: flex;
    gap: 1rem;
    color: var(--secondary);
}

.nav-bar {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.nav-bar li {
    font-size: 1.2rem;
    font-weight: bold;
}


form {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

form input {
    width: 30rem;
    border-radius: .5rem;
    border: 0;
    padding: .3rem 1rem;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: none;
    font-size: 2rem;
    color: var(--secondary);
}