header {
    background-color:#111;
    padding: 1rem 0;
    top: 0;
    z-index: 99;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
}


.logo a {
    display: flex;
    gap: 1rem;
    color: var(--secondary);
}

.nav-bar {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.nav-bar li {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-bar li a:hover {
    color: var(--secondary);
}



.nav-bar li a {
    color: var(--terciary);
    transition: all .5s;
}

.nav-bar li a.active {
    color: var(--secondary);
    padding: .3rem .8rem;
    border-radius: .5rem;
    border: 1px solid var(--secondary);
    background-color: var(--primary);
}


form {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

form input {
    width: 30rem;
    border-radius: .5rem;
    border: 0;
    padding: .3rem 1rem;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: none;
    font-size: 2rem;
    color: var(--secondary);
}

@media screen and (max-width:1024px) {
    form input {
        width: 20rem;
    }
}

@media screen and (max-width:820px) {
    form input {
        width: 10rem;
    }
}

@media screen and (max-width:480px) {
    .logo a {
        font-size: 1.2rem;
    }

    .nav-bar li {
        font-size: 1rem;
    }
  
    .nav-bar li a.active {
        color: var(--secondary);
        padding: .3rem .8rem;
        border-radius: .5rem;
        border: 1px solid var(--secondary);
        background-color: var(--primary);
    }
    form input {
        width: 6rem;
    }
}