:root {
    --primary: #1d1d1d;
    --secondary: #b70d2c;
    --terciary: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: var(--primary);
    color: var(--terciary);
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--secondary);
}