*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #1d1d1d;
    color: #fff;
}
a{
    text-decoration: none;
    color: #b70d2c;
}
a:hover{
    color: #d7d7d7;
}